!config
!TLauncher.exe
logs
tlauncher_libraries
Новая_папка/TlauncherProfiles.json
Новая_папка/tlauncher_profiles.json
Новая_папка/launcher_profiles.json
launcher_profiles.json
tlauncher_profiles.json
TlauncherProfiles.json
Новая_папка/options.txt
Новая_папка/servers.dat
Новая_папка/TempOptifineStore-1.0.json
