# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=0
    I:lastPlayer=1
}


orderedvalues {
    I:presses=2
}


players {
    I:00000000-0000-0000-0000-000000000000=0
}


